Repository Kong/vite-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui, @ValeryG, @kongponents-bot

chore: gitignore
  .gitignore
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

chore: minify
  build.config.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

ci: upload path
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

ci: upload path
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

ci: artifact path
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

feat: dynamic import retry plugin [KM-865]
  .github/actions/setup-pnpm-with-dependencies/action.yaml
  README.md
  build.config.ts
  package.json
  playground/README.md
  playground/dynamic-import-retry/index.spec.ts
  playground/dynamic-import-retry/vue-router/index.html
  playground/dynamic-import-retry/vue-router/src/AboutView.vue
  playground/dynamic-import-retry/vue-router/src/App.vue
  playground/dynamic-import-retry/vue-router/src/HomeView.vue
  playground/dynamic-import-retry/vue-router/src/main.ts
  playground/dynamic-import-retry/vue-router/tsconfig.json
  playground/dynamic-import-retry/vue-router/vite.config.ts
  playground/vitestGlobalSetup.ts
  playground/vitestSetup.ts
  pnpm-lock.yaml
  src/plugin-dynamic-import-retry/README.md
  src/plugin-dynamic-import-retry/css-preload-retry.ts
  src/plugin-dynamic-import-retry/import-wrapper.ts
  src/plugin-dynamic-import-retry/index.ts
  vitest.config.e2e.ts
Owners: @adamdehaven, @jillztom, @ValeryG, @Justineo, @Kong/team-core-ui, @kongponents-bot

chore: add security document
  SECURITY.md
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

docs: typo
  SECURITY.md
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

feat: default exclude node_modules
  src/plugin-dynamic-import-retry/README.md
  src/plugin-dynamic-import-retry/import-wrapper.ts
  src/plugin-dynamic-import-retry/index.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

test: vue async component
  playground/README.md
  playground/dynamic-import-retry/index.spec.ts
  playground/dynamic-import-retry/vue-async-component/index.html
  playground/dynamic-import-retry/vue-async-component/src/App.vue
  playground/dynamic-import-retry/vue-async-component/src/AsyncComponent.vue
  playground/dynamic-import-retry/vue-async-component/src/ErrorComponent.vue
  playground/dynamic-import-retry/vue-async-component/src/HelloWorld.vue
  playground/dynamic-import-retry/vue-async-component/src/LoadingComponent.vue
  playground/dynamic-import-retry/vue-async-component/src/main.ts
  playground/dynamic-import-retry/vue-async-component/tsconfig.json
  playground/dynamic-import-retry/vue-async-component/vite.config.ts
  playground/dynamic-import-retry/vue-async-component/vue-async-component.spec.ts
  playground/dynamic-import-retry/vue-router/src/AboutView.vue
  playground/dynamic-import-retry/vue-router/src/App.vue
  playground/dynamic-import-retry/vue-router/src/HomeView.vue
  playground/dynamic-import-retry/vue-router/vue-router.spec.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

fix: lint warn
  playground/dynamic-import-retry/vue-async-component/vue-async-component.spec.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

fix: remove unused file
  playground/dynamic-import-retry/vue-async-component/src/AsyncComponent.vue
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

test: transitive and dynamic-import-vars
  package.json
  playground/dynamic-import-retry/dynamic-import-vars/dynamic-import-vars.spec.ts
  playground/dynamic-import-retry/dynamic-import-vars/index.html
  playground/dynamic-import-retry/dynamic-import-vars/src/locales/en.ts
  playground/dynamic-import-retry/dynamic-import-vars/src/main.ts
  playground/dynamic-import-retry/dynamic-import-vars/tsconfig.json
  playground/dynamic-import-retry/dynamic-import-vars/vite.config.ts
  playground/dynamic-import-retry/transitive/index.html
  playground/dynamic-import-retry/transitive/src/main.ts
  playground/dynamic-import-retry/transitive/src/simple.ts
  playground/dynamic-import-retry/transitive/src/transitive.ts
  playground/dynamic-import-retry/transitive/transitive.spec.ts
  playground/dynamic-import-retry/transitive/tsconfig.json
  playground/dynamic-import-retry/transitive/vite.config.ts
  playground/dynamic-import-retry/vue-router/vite.config.ts
  pnpm-lock.yaml
  src/plugin-dynamic-import-retry/README.md
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @Justineo

fix: playwright cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: playwright cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: playwright cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

ci: test cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: cache key
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

ci: pin action versions
  .github/workflows/commitlint.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

ci: pin action versions (#16)
  .github/workflows/commitlint.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: lockfile
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @Justineo

feat: dynamic import retry plugin [KM-865]
  .github/actions/setup-pnpm-with-dependencies/action.yaml
  README.md
  build.config.ts
  package.json
  playground/README.md
  playground/dynamic-import-retry/index.spec.ts
  playground/dynamic-import-retry/vue-router/index.html
  playground/dynamic-import-retry/vue-router/src/AboutView.vue
  playground/dynamic-import-retry/vue-router/src/App.vue
  playground/dynamic-import-retry/vue-router/src/HomeView.vue
  playground/dynamic-import-retry/vue-router/src/main.ts
  playground/dynamic-import-retry/vue-router/tsconfig.json
  playground/dynamic-import-retry/vue-router/vite.config.ts
  playground/vitestGlobalSetup.ts
  playground/vitestSetup.ts
  pnpm-lock.yaml
  src/plugin-dynamic-import-retry/README.md
  src/plugin-dynamic-import-retry/css-preload-retry.ts
  src/plugin-dynamic-import-retry/import-wrapper.ts
  src/plugin-dynamic-import-retry/index.ts
  vitest.config.e2e.ts
Owners: @adamdehaven, @jillztom, @ValeryG, @Justineo, @Kong/team-core-ui, @kongponents-bot

fix: remove unused file
  playground/dynamic-import-retry/vue-async-component/src/AsyncComponent.vue
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

fix: lint warn
  playground/dynamic-import-retry/vue-async-component/vue-async-component.spec.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

feat: default exclude node_modules
  src/plugin-dynamic-import-retry/README.md
  src/plugin-dynamic-import-retry/import-wrapper.ts
  src/plugin-dynamic-import-retry/index.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

test: vue async component
  playground/README.md
  playground/dynamic-import-retry/index.spec.ts
  playground/dynamic-import-retry/vue-async-component/index.html
  playground/dynamic-import-retry/vue-async-component/src/App.vue
  playground/dynamic-import-retry/vue-async-component/src/AsyncComponent.vue
  playground/dynamic-import-retry/vue-async-component/src/ErrorComponent.vue
  playground/dynamic-import-retry/vue-async-component/src/HelloWorld.vue
  playground/dynamic-import-retry/vue-async-component/src/LoadingComponent.vue
  playground/dynamic-import-retry/vue-async-component/src/main.ts
  playground/dynamic-import-retry/vue-async-component/tsconfig.json
  playground/dynamic-import-retry/vue-async-component/vite.config.ts
  playground/dynamic-import-retry/vue-async-component/vue-async-component.spec.ts
  playground/dynamic-import-retry/vue-router/src/AboutView.vue
  playground/dynamic-import-retry/vue-router/src/App.vue
  playground/dynamic-import-retry/vue-router/src/HomeView.vue
  playground/dynamic-import-retry/vue-router/vue-router.spec.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

test: transitive and dynamic-import-vars
  package.json
  playground/dynamic-import-retry/dynamic-import-vars/dynamic-import-vars.spec.ts
  playground/dynamic-import-retry/dynamic-import-vars/index.html
  playground/dynamic-import-retry/dynamic-import-vars/src/locales/en.ts
  playground/dynamic-import-retry/dynamic-import-vars/src/main.ts
  playground/dynamic-import-retry/dynamic-import-vars/tsconfig.json
  playground/dynamic-import-retry/dynamic-import-vars/vite.config.ts
  playground/dynamic-import-retry/transitive/index.html
  playground/dynamic-import-retry/transitive/src/main.ts
  playground/dynamic-import-retry/transitive/src/simple.ts
  playground/dynamic-import-retry/transitive/src/transitive.ts
  playground/dynamic-import-retry/transitive/transitive.spec.ts
  playground/dynamic-import-retry/transitive/tsconfig.json
  playground/dynamic-import-retry/transitive/vite.config.ts
  playground/dynamic-import-retry/vue-router/vite.config.ts
  pnpm-lock.yaml
  src/plugin-dynamic-import-retry/README.md
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @Justineo

fix: playwright cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

ci: test cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: playwright cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: cache key
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

fix: playwright cache
  .github/actions/setup-pnpm-with-dependencies/action.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

feat: use @fatso83/retry-dynamic-import
  package.json
  playground/dynamic-import-retry/dynamic-import-vars/dynamic-import-vars.spec.ts
  playground/dynamic-import-retry/dynamic-import-vars/vite.config.ts
  playground/dynamic-import-retry/transitive/transitive.spec.ts
  playground/dynamic-import-retry/vue-async-component/vue-async-component.spec.ts
  playground/dynamic-import-retry/vue-router/vite.config.ts
  playground/dynamic-import-retry/vue-router/vue-router.spec.ts
  pnpm-lock.yaml
  src/plugin-dynamic-import-retry/README.md
  src/plugin-dynamic-import-retry/import-wrapper.ts
  src/plugin-dynamic-import-retry/index.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @Justineo

fix: vite config
  playground/dynamic-import-retry/dynamic-import-vars/vite.config.ts
  playground/dynamic-import-retry/transitive/vite.config.ts
  playground/dynamic-import-retry/vue-async-component/vite.config.ts
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

feat: bump
  package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @jillztom, @ValeryG, @Justineo

chore: update renovate config
  renovate.json
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

chore: update renovate config (#35)
  renovate.json
Owners: @adamdehaven, @Justineo, @jillztom, @Kong/team-core-ui

chore: switching ci from pat to app token [KHCP-2195]
  .github/workflows/auto-approve.yaml
Owners: @adamdehaven, @jillztom, @ValeryG

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @Justineo @jillztom @Kong/team-core-ui

# Workflows & CI
/.github/ @adamdehaven @jillztom @ValeryG
/lefthook.yaml @adamdehaven @jillztom

# ================================================
# Renovate Bot approvals
# Allow Kongponents BOT to approve dependency updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @ValeryG @Justineo
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @jillztom @ValeryG @Justineo
